<div class= "box">
  <% flash.each do |key, value| %>
    <div id="red">
        <div class="alert alert-error<%= key %>"><%= value %></div>
    </div>
  <% end %>

    <div id="sign_up_box">
      <p id="p_text">By creating an account on HUBBUB, you'll get to save your favorite boards and share them with all your friends. Sign Up today!</p>
    </div>
  				
		 <%= form_tag('/login', method: :post) do %>
        <div class="email">
				Email: <%= text_field_tag :email, nil, class: "black_text" %><br>
        </div>
        <div class="password">
				Password: <%= password_field_tag :password, nil, class: "black_text"%><br>
       </div>
		<%= submit_tag "Log in", class: "submit" %>

			<% end %>
    </div>
     
          <p>HUBBUB 2015</p>
    
    </div>
  </div>

</div>