          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Sign Up</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li class="active"><a href="/sessions/login">Log in</a></li> 
                </ul>
              </nav>
            </div>
          </div>
          
            <div class="box">
              <div id="sign_up_box">
              <p>By creating an account on HUBBUB, you'll get to save your favorite boards and share them with all your friends. Sign Up today!</p>
              </div>
              <%= form_for (@user) do |f| %>
                  <div class="name">
                  Name: <%= f.text_field :name, class: "black_text" %><br>
                  </div>
                  <div class="email">
                  Email: <%= f.text_field :email, class: "black_text" %><br>
                  </div>
                  <div class="password">
                  Password: <%= f.password_field :password, class: "black_text" %><br>
                  </div>
                  <div class="password_con">
                  Password Confirmation: <%= f.password_field :password_confirmation, class: "black_text" %>
                  </div>
                   
                <br>
                  <%= f.submit 'Submit', class: "submit" %>

              <% end %>
            </div>
         
              <p>HUBBUB 2015</p>
