          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Sign Up</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li class="active"><a href="">Sign up</a></li>
                  <li class="active"><a href="">Log in</a></li> 
                </ul>
              </nav>
            </div>
          </div>
          
        
            <div class="box">
              <div id="sign_up_box">
              <p>By creating an account on HUBBUB, you'll get to save your favorite boards and share them with all your friends. Sign Up today!</p>
              </div>
              <%= form_for (@user) do |f| %>
            
                  Name:<%= f.text_field :name, class: "black_text" %><br>
                  Email:<%= f.text_field :email, class: "black_text" %><br>
                  Password:<%= f.password_field :password, class: "black_text" %><br>
                  Password Confirmation:<%= f.password_field :password_confirmation, class: "black_text" %>
                   
                <br>
                  <%= f.submit 'Submit', class: "submit" %>

              <% end %>
            </div>
         
              <p>HUBBUB 2015</p>
