<h1>#<%= params[:hashtag] %></h1>
<font color="black">

DESCRIPTION:
   <%= form_for @hub do |f| %>
    <%= text_area_tag('description') %>


<%= @tag %>

<% @insta.each do |photo|%>
    <%= image_tag photo.images.low_resolution.url %>
<% end %>

<% @twitter.each do |tweet| %>
    <p><%= tweet.text %></p>
<% end %>





        <% @gramIdsArray.each do |insta| %>
            <%= hidden_field_tag('social_ids[]', insta.url) %>
        <% end %>
        <% @tweetIdsArray.each do |tweet| %>
            <%= hidden_field_tag('social_ids2[]', tweet) %>
        <% end %>
           <%= hidden_field_tag('title', params[:hashtag]) %>
            <%= submit_tag "Submit" %>
    <% end%>

</font>