<h1>#<%= params[:hashtag] %></h1>

<%= @tag %>

<% @insta.each do |photo|%>
    <%= image_tag photo.images.low_resolution.url %>
<% end %>

<% @twitter.each do |tweet| %>
    <p><%= tweet.text %></p>
<% end %>


<font color="black">


    <%= form_for @hub do |f| %>
        <% @gramIdsArray.each do |thingy| %>
            <%= hidden_field_tag('social_ids[]', thingy.url) %>
        <% end %>
        <% @tweetIdsArray.each do |tweet| %>
            <%= hidden_field_tag('social_ids2[]', tweet) %>
        <% end %>
            <%= submit_tag "Submit" %>

    <% end%>

</font>