<h1>Clippers</h1>
<% @insta.each do |photo|%>
    <%= image_tag photo.images.low_resolution.url %>
<% end %>
<% @twitter.each do |tweet| %>
    <p><%= tweet.text %></p>
<% end %>

<%= form_tag('/hubs', method: :post) do %>
<%= hidden_field_tag 'instagrams', @insta %>
<%= submit_tag "Submit" %>
<% end %>